version: "3.9"

services:
  db:
    image: postgres:17-alpine
    env_file:
      - .env
    volumes:
      - postgresDB:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    restart: unless-stopped

  app:
    build: .
    working_dir: /app
    volumes:
      - ./:/app
    env_file: .env
    depends_on:
      - db
    command: >
      sh -c "pip install --no-cache-dir -r requirements.txt
      && python project.py"

volumes:
  postgresDB:
