version: "3.9"

services:
  db:
    image: postgres:17-alpine
    container_name: db
    env_file:
      - .env
    volumes:
      - postgresDB:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
<<<<<<< HEAD
=======
    networks:
        - kafka-net
>>>>>>> main

  app:
    build: .
    env_file: .env
    depends_on:
      db: 
        condition: service_healthy
<<<<<<< HEAD
=======
    networks:
        - kafka-net
>>>>>>> main

  dbt:
      build: .
      container_name: dbt
      volumes:
          - ./:/usr/app/dbt
          - ./profiles.yml:/root/.dbt/profiles.yml
      environment:
          - DBT_PROFILES_DIR=/usr/app/dbt
      working_dir: /usr/app/dbt/dbt_project
      entrypoint: ["/bin/bash"]
      tty: true
      depends_on:
          - db
<<<<<<< HEAD
=======
      networks:
        - kafka-net
>>>>>>> main

  zookeeper:
      image: confluentinc/cp-zookeeper:7.3.0
      container_name: zookeeper_air
      environment:
          ZOOKEEPER_CLIENT_PORT: 2181  # Puerto donde Zookeeper escucha
          ZOOKEEPER_TICK_TIME: 2000    # Intervalo de tiempo interno
      ports:
      - "2181:2181"                # Exponemos el puerto para acceso local
      networks:
      - kafka-net
  kafka:
      image: confluentinc/cp-kafka:7.3.0
      container_name: kafka_air
      depends_on:
        - zookeeper
      ports:
        - "9092:9092"                # Puerto para clientes locales
      environment:
        KAFKA_BROKER_ID: 1
        KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    # Listener para aceptar conexiones en todas las interfaces
        KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_INTERNAL://0.0.0.0:29092
    # Advertised listeners: cómo se anuncia el broker a los clientes
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
    # Mapeo de protocolos
        KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
    # Listener interno para comunicación entre brokers
        KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL
        KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
        KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      networks:
        - kafka-net

  ksql:
      image: confluentinc/cp-ksqldb-server:7.3.0
      container_name: ksql_air
      depends_on:
        - kafka
      ports:
        - "8088:8088"                # Puerto para la API REST de KSQL
      environment:
<<<<<<< HEAD
        KSQL_BOOTSTRAP_SERVERS: kafka:29092  # Conexión al broker Kafka
        KSQL_LISTENERS: http://0.0.0.0:8088  # Dirección donde escucha KSQL
        KSQL_KSQL_SERVICE_ID: ksql_service   # Identificador del servicio KSQL

      networks:
        - kafka-net
=======
        KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_INTERNAL://0.0.0.0:29092
        KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://localhost:9092,PLAINTEXT_INTERNAL://kafka:29092
        KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT_INTERNAL

      networks:
        - kafka-net
  pull_api:
    build: .
    container_name: pull_api
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      kafka:
        condition: service_started
    command: ["python", "pull_api.py"]
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    networks:
      - default
      - kafka-net
    
>>>>>>> main

  ksql-cli:
      image: confluentinc/cp-ksqldb-cli:7.3.0
      container_name: ksql-cli_air
      depends_on:
        - ksql
      entrypoint: /bin/sh   # Para que puedas entrar al contenedor y ejecutar comandos
      tty: true             # Permite sesión interactiva
      networks:
        - kafka-net

volumes:
    pg_data:
    postgresDB:

networks:
  kafka-net:
    driver: bridge

